<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Hospital</title>
    <link rel="stylesheet" href="/static/style.css"> 
</head>
<body>

    <div class="container">
        <h1>Access Hospital</h1>
        <form action="/access-hospital" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Temp Token:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <input class="buttonhai" type="submit" value="Access Hospital">
        </form>
    </div>

</body>
</html>
