<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Authentication</title>
    <link rel="stylesheet" href="/static/style.css"> 
</head>
<body>

    <div class="container">
        <h1>Admin Authentication</h1>
        <form action="/auth-admin" method="post">
            <label for="admin_username">Admin Username:</label>
            <input type="text" id="admin_username" name="username" required><br><br>
            
            <label for="admin_password">Admin Password:</label>
            <input type="password" id="admin_password" name="password" required><br><br>
            
            <input type="submit" value="Authenticate">
        </form>
    </div>

</body>
</html>
